<nav class="navbar navbar-expand navbar-dark custom-navbar shadow-sm">
  <div class="container">

    <a class="navbar-brand d-flex align-items-center" >
      <img src="assets/logo.png" alt="Logo" class="navbar-logo me-2">

    </a>

    <div class="d-flex align-items-center">

      <ng-container *ngIf="authService.isLoggedIn()">
        <span class="welcome-text me-3">Welcome {{ getUserName() }} !</span>
        <a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>

        <span class="divider mx-3">|</span> <button class="btn btn-sm btn-logout" (click)="logout()">
          Logout
        </button>
      </ng-container>

      <ng-container *ngIf="!authService.isLoggedIn()">
        <a class="nav-link" routerLink="/login">Login</a>
      </ng-container>

    </div>
  </div>
</nav>